/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.text-main-green{
	color: #4fa74f;
}
.two-rem
{
	font-size: 2rem;
}
.pointer
{
	cursor: pointer;
}