/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.flexx
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.bg-main-green{
	background-color: #4fa74f !important;
	color: white;
}
.text-main-green{
	color: #4fa74f;
}
.two-rem
{
	font-size: 2rem;
}
.pointer
{
	cursor: pointer;
}

.mt-100{
	margin-top: 100px;
}